.jomMenu {
  width: 100%;
  text-align: center;
  .menuImg {
    // height: 300px;
    width: 80%;
    border-radius: 50%;
    padding: 20px;
    background-color: $yellow;
    overflow: hidden;
    margin: 0px auto;
    img {
      border-radius: 50%;
      width: 100%;
    }
  }
}
