button {
  height: 35px;
  min-width: 100px;
  padding: 0px 20px;
  width: max-content;
  border-radius: 40px;
  border: none;
  // font-weight: bold;
  margin: 10px 0px;
}

.yellowBtn {
  background-color: $yellow;
}

.blackBtn {
  background-color: black;
  color: $yellow;
}
