#articleHeader {
  background-color: grey;
  height: 426px;
  width: 100%;
  position: relative;
  #title {
    width: 90%;
    max-width: 600px;
    color: white;
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
  #bgImg {
    position: absolute;
    height: 426px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    img {
      width: 100%;
    }
    &::before {
      position: absolute;
      content: " ";
      width: 100%;
      height: 100%;
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    }
  }
}

#articleText {
  width: 600px;
  margin: 20px auto;
  padding: 10px 20px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  #articleText {
    width: 100%;
    // margin: 20px auto;
    padding: 10px 20px;
    box-sizing: border-box;
  }
}
