#header {
  background-color: $yellow;
  height: 85px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  #logoWrapper {
  }

  #navButton {
    display: none;
  }

  #mobileNav {
    background-color: black;
    position: absolute;
    top: 85px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 999;
    #mobileMenu {
      span {
        display: block;
        text-align: right;
        a {
          color: white;
        }
      }
    }
    #navFooter {
      text-align: center;
      position: absolute;
      bottom: 50px;
      width: 80%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

// For Smaller devices e.g. Laptops, Tablets

@media (max-width: 1200px) {
  #topbarSocials {
    display: none !important;
  }
}

// For Smaller devices e.g. for Mobile Phones
@media (max-width: 900px) {
  #nav {
    display: none !important;
  }

  #header {
    min-width: 414px;
    .logo {
      margin: 0 auto;
    }
    #navButton {
      display: block;
    }
  }
}
