// Theme
@import "./theme/colors";
@import "./theme/type";

//Components
@import "../components/header";
@import "../components/slider/";
@import "../components/sections/";
@import "../components/gallery/";
@import "../components/inputs/";
@import "../components/footer/";
@import "../components/article/";
@import "../components/hero";
@import "./components/menu/";
@import "./components/videos/";
@import "./components/gallery/";

body {
  &::before {
    content: "";
    background-image: url("../assets/jpg/pattern3.png");
    background-repeat: unset;
    background-blend-mode: multiply;
    width: 100%;
    height: 100vh;

    top: 0px;
    opacity: 0.6;
    z-index: -1;
    // background-color: blueviolet;
  }
}
